<blockquote>
    <p>I am a simple person, eager to learn new techs and implement those to boost my learning. The world is moving towards IoT, Cloud, Data Analytics and there is no reason why should not we. I work for TCS since 2011 and this relationship with Tata has
        been getting stronger day by day.
    </p>
    <footer>From Shashi Bhushan</footer>
</blockquote>
<blockquote>
    <dl>
        <dt>Synopsis</dt>
        <dd>Born in 1991 in Patna, Bihar, Shashi launched his career in IT as an employee of the TCS. Following his acclaimed five-year run as an employee of TCS, he became one of the TCS's key resource. His involvement in project of GE Transportation brought
            many applauds for the team. Shashi also developed some innovative modules for his projects, and enjoyed success. His excellenece in many fields shows his versatile nature and adaptibility to situation. Hence, also became famous as <mark>"Khiladi" ,
        "Rockstar" , "International Khiladi" <mark>.</dd>
    <br>
    <dt>Early Life</dt>
    <dd>Studious and somewhat quiet, Shashi chose to make his mark on the Programming languages, where he set a high expectation for himself by receiving Scholarships and participating in various Hackathons at College level. Hhe was also too good at comedy.
        A glimpse of his comedic skills showed up each morning at high school, when he used to play some prank with his friends or teachers. Upon graduation in 2011, Shashi stayed close to home, choosing to join TCS at New Delhi to improve his skills
        and contibute to the success of Tata in some way.</dd>
<br>
        <dt>Big Time Man</dt>
    <dd>Be it a situation where the project is stuck and dead in the water, He came up with ideas and approaches which were out of box. The way he explains his approach makes every task look simple and increases faith of tem members in achieving the tasks. By solving many critical issues within time and rescuing the application from tons of failures, he became the Go to man and is also known as <mark>"Big Time Man"</mark>.</dd>
    </dl>
    <div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
    </div>
</blockquote>