<div class="container" ng-controller="ContactCtrl">
    <h3 class="text-center">Contact</h3>
    <p class="text-center"><em>I love my fans!</em></p>
    <p class="text-center"><em>{{fanText}}</em></p>
    <div class="row test">
        <div class="col-md-4">
            <blockquote>
                <p>Fan Counter : {{ fanCount}}</p>
                <p class="btn btn-info" ng-click="increaseFanCount()"> Click to be my Fan.</p>
                </p>
                <footer>Being fetched and set From Springboot Service & Azure SQL Database</footer>
            </blockquote>
            <div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
            </div>
            <div class="fb-follow" data-href="http://www.facebook.com/shashi.sastra" data-layout="standard" data-size="small" data-show-faces="true"></div>

            <p><span class="glyphicon glyphicon-map-marker"></span>Erie, US</p>
            <p><span class="glyphicon glyphicon-phone"></span>Phone: +1 8143860791</p>
            <p><span class="glyphicon glyphicon-envelope"></span>Email: shashi.bhushan1@tcs.com</p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="text" ng-model="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
            <div class="row">
                <div class="col-md-12 form-group">
                    <button class="btn pull-right" type="submit" ng-click="sendContactEmail()">Send</button>
                </div>
            </div>
            <input type="checkbox" ng-model="success" class="hide">

            <div class="row" ng-show="success">
                <div class="col-md-12 form-group">
                    <div class="btn btn-success">Your message reached to me. I will get in touch soon with you my friend!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="googleMap"></div>
    </div>


    <!-- Google Map API Start -->
    <script>
        function myMap() {
            var myCenter = new google.maps.LatLng(42.1291, -80.0851);
            var mapProp = {
                center: myCenter,
                zoom: 12,
                scrollwheel: false,
                draggable: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            var marker = new google.maps.Marker({
                position: myCenter
            });
            marker.setMap(map);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBeMzxY_r2lBoSOA5ZAprDWHWkJGVxZPc&callback=myMap"></script>

    <!-- Google Map API end -->