<blockquote>
    <p>Shashi is First Rockstar on this planet known to have knowledge of Programming languages along with being too good at "Acting" and "Concerts"</p>
    <footer>- World Fan Survey</footer>
</blockquote>
<div class="row text-center">
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="images/freedom.00336e37.jpg" alt="Paris">
            <p><strong>National School of Drama</strong></p>
            <p>Independence Day, 15 August 2017</p>
            <button class="btn" data-toggle="modal" data-target="#myModal">Book Your Seat</button>

        </div>
        <div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
        </div>

    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="images/concert.f707e953.jpg" alt="New York">
            <p><strong>Pittsburgh Concert</strong></p>
            <p>Saturday Night Rampwalk, 08 December 2017</p>
            <button class="btn" data-toggle="modal" data-target="#myModal">Book Your Seat</button>

        </div>
        <div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
        </div>

    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="images/azure.78a9be10.jpg" alt="San Francisco">
            <p><strong>Training by Shashi</strong></p>
            <p>Azure Training, Sat. 28 December 2017</p>
            <button class="btn" data-toggle="modal" data-target="#myModal">Book Your Seat</button>

        </div>
        <div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
        </div>

    </div>
</div>
<div class="row text-center">
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="images/angular.64b6e9f9.jpg" alt="Paris">
            <p><strong>Guru of Angular JS</strong></p>
            <p>Code Day, 15 August 2018</p>
            <button class="btn" data-toggle="modal" data-target="#myModal">Book Your Seat</button>

        </div>
        <div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
        </div>

    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="images/bigdata.87f0c756.jpg" alt="New York">
            <p><strong>Master in Big Data</strong></p>
            <p>Hadoop Day, 18 December 2018</p>
            <button class="btn" data-toggle="modal" data-target="#myModal">Book Your Seat</button>

        </div>
        <div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
        </div>

    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="images/machinelearning.65e37caf.jpg" alt="San Francisco">
            <p><strong>Shashi's Way to Machine Learning</strong></p>
            <p>AI and Data Science, Sat. 28 December 2018</p>
            <button class="btn" data-toggle="modal" data-target="#myModal">Book Your Seat</button>

        </div>
        <div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
        </div>

    </div>
</div>
<!-- Modal -->
<div class="modal" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-lock"></span> Reserve your seat for the event</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="psw"><span class="glyphicon glyphicon-shopping-cart"></span> Event/Training Cost: $100</label>
                    </div>
                    <div class="form-group">
                        <label for="usrname"><span class="glyphicon glyphicon-user"></span>Have this booking emailed to</label>
                        <input type="text" class="form-control" id="usrname" placeholder="Enter email">
                    </div>
                    <button type="submit" class="btn btn-block">Pay 
            <span class="glyphicon glyphicon-ok"></span>
          </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-info btn-default pull-left" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
                <p>Need <a ui-sref="/home">help?</a></p>
            </div>
        </div>
    </div>
</div>