<div class="row">
    <div class="col-sm-4">
        <br>
        <a href="#demo" data-toggle="collapse">
            <img src="images/rafting.6e7e45ad.jpg" class="img-circle person img-responsive " alt="Random Name">
        </a>
        </br>
        <p class="text-center"><strong>Rafting</strong></p>
        <div id="demo" class="collapse">
            <p>West Virginia</p>
            <p>White Water Rafting</p>
            <p>1st July 2017</p>
        </div>
    </div>
    <div class="col-sm-4">
        <br>
        <a href="" data-toggle="collapse">
            <img src="images/tashan.e6a431aa.jpg" class="img-circle person img-responsive" alt="Random Name">
        </a>
        </br>
        <p class="text-center"><strong>Alleghany</strong></p>
        <div id="demo2" class="collapse">
            <p>Cool Dudes</p>
            <p>Glares!!!!!!</p>
            <p>September 2016</p>
        </div>
    </div>
    <div class="col-sm-4">
        <br>
        <a href="#demo3" data-toggle="collapse">
            <img src="images/fall.761e1663.jpg" class="img-circle person img-responsive" alt="Random Name">
        </a>
        </br>
        <p class="text-center"><strong>Colors All Around</strong></p>
        <div id="demo3" class="collapse">
            <p>Erie Falls</p>
            <p>Love the colors</p>
            <p>Septmeber 2016</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <br>
        <a href="#demo" data-toggle="collapse">
            <img src="images/amitabh.ea4d6730.jpg" class="img-circle person img-responsive " alt="Random Name">
        </a>
        </br>
        <p class="text-center"><strong>Rishte me to Hum...</strong></p>
        <div id="demo" class="collapse">
            <p>West Virginia</p>
            <p>White Water Rafting</p>
            <p>1st July 2017</p>
        </div>
    </div>
    <div class="col-sm-4">
        <br>
        <a href="" data-toggle="collapse">
            <img src="images/me.ec999b78.jpg" class="img-circle person img-responsive" alt="Random Name">
        </a>
        </br>
        <p class="text-center"><strong>Myself at CCD, New Delhi</strong></p>
        <div id="demo2" class="collapse">
            <p>Cool Dudes</p>
            <p>Glares!!!!!!</p>
            <p>September 2016</p>
        </div>
    </div>
    <div class="col-sm-4">
        <br>
        <a href="#demo3" data-toggle="collapse">
            <img src="images/jaiveeru1.e97fcbb6.jpg" class="img-circle person img-responsive" alt="Random Name">
        </a>
        </br>
        <p class="text-center"><strong>Ye Dosti!!!</strong></p>
        <div id="demo3" class="collapse">
            <p>Erie Falls</p>
            <p>Love the colors</p>
            <p>Septmeber 2016</p>
        </div>
    </div>
</div>