<div class="row">
    <div class="col-sm-4">
        <p class="text-center"><strong>Rafting</strong></p><br>
        <a href="" data-toggle="collapse">
            <img src="images/rafting.676e36a4.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo" class="collapse">
            <p>West Virginia</p>
            <p>White Water Rafting</p>
            <p>1st July 2017</p>
        </div>
    </div>
    <div class="col-sm-4">
        <p class="text-center"><strong>Alleghany</strong></p><br>
        <a href="" data-toggle="collapse">
            <img src="images/tashan.103ced85.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo2" class="collapse">
            <p>Cool Dudes</p>
            <p>Glares!!!!!!</p>
            <p>September 2016</p>
        </div>
    </div>
    <div class="col-sm-4">
        <p class="text-center"><strong>Colors All Around</strong></p><br>
        <a href="#demo3" data-toggle="collapse">
            <img src="images/fall.761e1663.jpg" class="img-circle person" alt="Random Name" width="400" height="300">
        </a>
        <div id="demo3" class="collapse">
            <p>Erie Falls</p>
            <p>Love the colors</p>
            <p>Septmeber 2016</p>
        </div>
    </div>
</div>