<div class="row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img class="img-responsive" src="images/me5.0f998dbc.jpg" alt="shenandoah">
                <div class="carousel-caption">
                    <h3>Washington</h3>
                    <p>Shenandoah National Park - Clear Sky and Me makes perfect combo!</p>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" src="images/party.9d57b814.jpg" alt="Alleghany">
                <div class="carousel-caption">
                    <h3>Erie</h3>
                    <p>Friend's Daughter B'day Party - Crowd of Erie!!.</p>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" src="images/me1.d42bdf89.jpg" alt="Malibu Beach Outing">
                <div class="carousel-caption">
                    <h3>California</h3>
                    <p>Malibu Beach - A Day spent with the Sun and Glares.</p>
                </div>
            </div>




        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>

<div class="row marketing hide">
    <h4>What is Azure?</h4>

    <p>Microsoft Azure is a growing collection of integrated cloud services that developers and IT professionals use to build, deploy, and manage applications through our global network of datacenters. With Azure, you get the freedom to build and deploy
        wherever you want, using the tools, applications, and frameworks of your choice.</p>
</div>