<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="images/loginback.d38b5e66.jpg" alt="Rockstar" class="thumbnail">


        </div>
        <div class="col-sm-4 jumbotron">
            <div class="fb-login-button" data-max-rows="1" data-size="small" data-button-type="continue_with" data-show-faces="true" data-auto-logout-link="true" data-use-continue-as="true"></div>
        </div>
        <div class="col-sm-4">
            <div class="fb-comments" data-href="https://www.facebook.com/photo.php?fbid=10159151744075160&set=exp.10159151748800160.unitary&type=3&theater#configurator" data-numposts="5"></div>
        </div>
    </div>
</div>