<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="images/loginback.d38b5e66.jpg" alt="Rockstar" class="thumbnail">

        </div>
        <div class="col-sm-4 jumbotron">
            <div class="fb-login-button" data-max-rows="1" data-size="small" data-button-type="continue_with" data-show-faces="true" data-auto-logout-link="true" data-use-continue-as="true"></div>
        </div>
        <div class="col-sm-4 hide">
            <div class="fb-comments" data-href="https://www.facebook.com/photo.php?fbid=10159151744075160&set=exp.10159151748800160.unitary&type=3&theater#configurator" data-numposts="5"></div>
        </div>
    </div>
</div>
<div id="fb-root"></div>
<!-- Facebook SDK start-->
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId: '440821132967874',
            xfbml: true,
            version: 'v2.9'
        });
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
        FB.AppEvents.logPageView();
    };
    FB = null;
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            //  testAPI();
        } else {
            // The person is not logged into your app or we are unable to tell.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into this app.';
        }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    }
</script>
<!-- Facebook SDK end -->